@import url("./index.css");

#main {
  height: 1200px;
}

#header {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid var(--main-color1);
}
#header-img {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: end;
}

#header-img > img {
  height: 75%;
  max-height: 100%;
  margin-left: 30px;
}

#header-nav {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.header-nav-li {
  list-style: none;
  font-family: "poppinsl";
  font-weight: 600;
  font-size: 0.87rem;
  margin-left: 45px;
  color: black;
  padding: 0 5px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
  letter-spacing: 0.8px;
}

.header-nav-li > a {
  text-decoration: none;
  color: black;
}

.header-nav-li:hover {
  border-bottom: 1px solid black;
  transform: scale(1.07);
}

/*========for < 800px===============*/
/*========for < 800px===============*/

@media screen and (max-width: 800px) {
  #header {
    height: 60px;
  }

  #header-img {
    justify-content: center;
    width: 10%;
  }

  #header-img > img {
    height: auto;
    width: 90%;
  }
  #header-nav {
    width: 90%;
  }

  .header-nav-li {
    font-size: 0.8rem;
    margin: 10px;
  }
}
