@import url("./index.css");

#main {
  height: 500px;
  background-image: url("../assets/bg1.png");
  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
}

#header {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header-img {
  width: 30%;
  height: 90%;
  display: flex;
  justify-content: right;
  align-items: center;
}

#header-img > img {
  height: 75%;
  max-height: 100%;
  margin-left: 30px;
}

#header-nav {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.header-nav-li {
  list-style: none;
  font-family: "poppinsl";
  font-weight: 600;
  font-size: 0.87rem;
  margin-left: 45px;
  color: rgb(255, 255, 255);
  padding: 0 5px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
  letter-spacing: 0.8px;
}

.header-nav-li > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  user-select: none;
}

.header-nav-li:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
  transform: scale(1.07);
}

#intro {
  height: 410px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#intro > h1 {
  margin-left: 20%;
  margin-right: 20%;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  line-height: 1.2;

  font-family: "Poppinsl", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  line-height: 1.1;
  text-shadow:
    2px 2px 8px rgba(0, 0, 0, 0.9),
    0 0 20px rgba(0, 0, 0, 0.6);
}

/*========for < 800px===============*/
/*========for < 800px===============*/

@media screen and (max-width: 800px) {
  #main {
    background-image: url(../assets/bg.png);
    height: 350px;
  }
  #header {
    height: 60px;
  }

  #header-img {
    justify-content: center;
    width: 10%;
  }

  #header-img > img {
    height: auto;
    width: 90%;
  }
  #header-nav {
    width: 90%;
  }

  .header-nav-li {
    font-size: 0.8rem;
    margin: 10px;
  }
  #intro {
    height: 440px;
  }
  #intro > h1 {
    margin: 0 10%;
    font-size: 35px;
  }
}
