@import url("./index.css");

#main {
  height: 600px;
  background-image: url("../assets/bg2.jpg");
  background-size: cover;
  background-color: red;
}

#header {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header-img {
  width: 30%;
  height: 90%;
  display: flex;
  justify-content: right;
  align-items: center;
}

#header-img > img {
  height: 75%;
  max-height: 100%;
  margin-left: 30px;
}

#header-nav {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.header-nav-li {
  list-style: none;
  font-family: "poppinsl";
  font-weight: 600;
  font-size: 0.87rem;
  margin-left: 45px;
  color: black;
  padding: 0 5px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
  letter-spacing: 0.8px;
}

.header-nav-li > a {
  text-decoration: none;
  color: black;
}

.header-nav-li:hover {
  border-bottom: 1px solid black;
  transform: scale(1.07);
}

#intro {
  height: 510px;
  width: 100%;
  display: flex;
}
#intro-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#intro-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#intro-right-text1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3vw;
  height: 50%;
  width: 100%;
  background-color: red;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
#intro-right-text2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3vw;
  height: 50%;
  width: 100%;
  background-color: rgb(55, 255, 0);
}

/*========for < 800px===============*/
/*========for < 800px===============*/

@media screen and (max-width: 800px) {
  #header {
    height: 60px;
  }

  #header-img {
    justify-content: center;
    width: 10%;
  }

  #header-img > img {
    height: auto;
    width: 90%;
  }
  #header-nav {
    width: 90%;
  }

  .header-nav-li {
    font-size: 0.8rem;
    margin: 10px;
  }
  #intro {
    height: 540px;

    flex-direction: column;
  }

  #intro-left {
    width: 100%;
    height: 50%;
  }
  #intro-right {
    width: 100%;
    height: 50%;
  }
}
